.icon1:before {
  content: "\f00d";
}
.icon2:before {
  content: "\f002";
}
.icon3:before {
  content: "\f002";
}
.icon4:before {
  content: "\f07d";
}
.icon5:before {
  content: "\f003";
}
.icon6:before {
  content: "\f002";
}
.icon7:before {
  content: "\f013";
}
.icon8:before {
  content: "\f00c";
}
.icon9:before {
  content: "\f0d7";
}
.icon10:before {
  content: "\f0d8";
}
.icon11:before {
  content: "\f014";
}
.icon12:before {
  content: "\f01a";
}
.icon13:before {
  content: "\f009";
}
.icon14:before {
  content: "\f009";
}
.icon15:before {
  content: "\f01e";
}
.icon16:before {
  content: "\f010";
}
.icon17:before {
  content: "\f010";
}
.icon18:before {
  content: "\f019";
}
.icon19:before {
  content: "\f01b";
}
.icon20:before {
  content: "\f00a";
}
.icon21:before {
  content: "\f00a";
}
.icon22:before {
  content: "\f01b";
}
.icon23:before {
  content: "\f00a";
}
.icon24:before {
  content: "\f076";
}
.icon25:before {
  content: "\f0b5";
}
.icon26:before {
  content: "\f015";
}
.icon27:before {
  content: "\f0e9";
}
.icon28:before {
  content: "\f0ea";
}
.icon29:before {
  content: "\f017";
}
.icon30:before {
  content: "\f055";
}
.icon31:before {
  content: "\f053";
}
.icon32:before {
  content: "\f012";
}
.icon33:before {
  content: "\f02e";
}
.icon34:before {
  content: "\f086";
}
.icon35:before {
  content: "\f086";
}
.icon36:before {
  content: "\f086";
}
.icon37:before {
  content: "\f04a";
}
.icon38:before {
  content: "\f086";
}
.icon39:before {
  content: "\f029";
}
.icon40:before {
  content: "\f029";
}
.icon41:before {
  content: "\f02d";
}
.icon42:before {
  content: "\f02d";
}
.icon43:before {
  content: "\f02a";
}
.icon44:before {
  content: "\f02a";
}
